* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    overflow-x: hidden;    
}
body::-webkit-scrollbar{
    display: none;
}
.img {
    background-image: url('netfliximg.jpg');
    background-color: #00000066;
    height: 50rem;

}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 15rem;

}

.netflix {
    font-size: x-large;
    color: rgb(226, 29, 29);
    margin-left: 10rem;
    margin-top: 4rem;
}

nav li {
    display: inline-block;
    margin-right: 7rem;
    font-size: 1.4rem;
}

nav li a {

    text-decoration: none;
    color: white;
}

#first {
    font-size: 1rem;
}

.sign {
    background-color: rgba(216, 2, 2, 0.838);
    padding: .3rem;
    border-radius: .3rem;
}
#selector {
    border-radius: .3rem;
}
#text {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.val {
    text-align: center;
}
.t_text {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}
.s_text {
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-top: .3rem;
}
.email {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.875rem;
}
#fad310bcfcdb {
    width: 24%;
    height: 3rem;
    font-size: 1rem;
    padding-left: 1rem;
    background-color: rgb(31, 28, 28);
    color: white;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(224, 7, 7);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    font-weight: 800;
    font-size: large;
}
.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}
.styled:active {
    box-shadow:
        inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.line {
    height: .8rem;
    width: 100%;
    background-color: rgb(47, 45, 45);
}
.next_section {
    background-color: black;
    height: 40rem;
    color: white;
    display: flex;
    justify-content: space-around;
}
.image {
    height: 27rem;
    width: 46rem;
    padding-top: 4rem;
}
#color {
    padding-top: 10rem;
    padding-right: 3rem;
}
#color h1 {
    font-size: 3rem;
    font-weight: 800;
}
#color p {
    font-size: 1.5rem;
    font-weight: 400;
}
.container {
    background-color: black;
    height: 60rem;
}
.askedquestion h2 {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 2rem;
}
.class {
    margin-bottom: .6rem;
    padding-top: 1rem;
    margin-right: 10rem;
    margin-left: 10rem;
    background-color: rgb(48, 44, 44);
}
.text_s {
   color: white;
    font-size: 1.6rem;
    font-weight: lighter;
    margin-bottom: 10rem;
}
.text_s p {
    position: relative;
    left: 3rem;
    padding-bottom: 1rem;
}
.nexttext {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    margin-top: 3rem;
}
#harsh {
    display: flex;
    justify-content: center;

}
#button {
    margin-left: 1.3rem;
    background-color: rgb(163, 1, 1);
    padding: .7rem;
    color: white;
    font-size: 1.4rem;
    font-weight: 800;
}
#button:hover {
    background-color: rgb(255, 7, 7);
}
footer {
    background-color: black;
    height: 100%;
}
.footer {
    color: white;
    padding-top: 5rem;
    padding-left: 5rem;
    font-size: 1rem;
}
.footer ul {
    margin-top: 2rem;
    margin-left: 10rem;
}
.footer ul li {
    margin-bottom: 1.5rem;
}
.footer ul li a {
    color: white;
    text-decoration: none;
}
#t_bottum {
    position: relative;
    left: 30rem;
    top: -16rem;
}
#last_text {
    color: white;
    position: relative;
    top: -31rem;
    left: 61rem;
    background-attachment: fixed;
}
#nef {
    color: white;
    font-size: 1.2rem;
    position: relative;
    bottom: 26rem;
    left: 10rem;
}